{% extends "main.html" %}
{% block content %}
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Read the Details</p>
						<h1>Single Article</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->
	
	<!-- single article section -->
	<div class="mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="single-article-section">
						<div class="single-article-text">
							<!-- <div class="single-artcile-bg"></div> -->
                             <img src="/static/assets/img/latest-news/Fruits_stall.jpg" height="412px" width="800px" alt="">
							<p class="blog-meta"><br>
								<span class="author"><i class="fas fa-user"></i> Admin</span>
								<span class="date"><i class="fas fa-calendar"></i> 24 December, 2025</span>
							</p>
							<h2>Freshness of beautiful fruits stall</h2>
							<p class="text-justify">A beautifully arranged fruit stall is capturing attention with its display of vibrant colors and natural freshness. Neatly stacked apples, glistening grapes, bright oranges, and rows of bananas create a picture that feels both inviting and full of life. The sweet aroma of ripe produce adds to the stall’s charm, drawing customers in with the promise of crisp bites and juicy flavors. Its careful arrangement highlights the beauty of everyday fruits, turning the stall into a feast for the eyes.</p>
							<p class="text-justify">Beyond appearance, the stall reflects the value of freshness and quality in local markets. Shoppers are drawn not just by the variety but by the assurance that each fruit has been picked at its best. The stall stands as a symbol of abundance, health, and community, reminding visitors of the timeless appeal of natural produce. With its lively presentation and rich selection, it transforms an ordinary shopping moment into a refreshing experience.</p>
						</div>

						<div class="comments-list-wrap">
							<h3 class="comment-count-title">3 Comments</h3>
							<div class="comment-list">
								<div class="single-comment-body">
									<div class="comment-user-avater">
										<img src="/static/assets/img/avaters/avatar1.png" alt="">
									</div>
									<div class="comment-text-body">
										<h4>Sarah Amber <span class="comment-date">December 25, 2025 </span> <a href="#">reply</a></h4>
										<p>Fruitkha vibrant selection and fresh quality, praising how every order feels like a hand‑picked gift from nature beautiful presentation and timely delivered.</p>
									</div>
									<div class="single-comment-body child">
										<div class="comment-user-avater">
											<img src="/static/assets/img/avaters/avatar3.png" alt="">
										</div>
										<div class="comment-text-body">
											<h4>Smith Jacob <span class="comment-date">December 27, 2025</span> <a href="#">reply</a></h4>
											<p>Fruitkha consistently fresh flavorful fruits they often praise careful packaging, save delivered and the sense of quality that keeps them coming back for more.</p>
										</div>
									</div>
								</div>
								<div class="single-comment-body">
									<div class="comment-user-avater">
										<img src="/static/assets/img/avaters/avatar2.png" alt="">
									</div>
									<div class="comment-text-body">
										<h4>Frank Oliver <span class="comment-date">December 29, 2025</span> <a href="#">reply</a></h4>
										<p>Fruitkha for delivering fruits that are as fresh and vibrant as they appear online, with flavors that truly captures the essence of the season and timely delivered.</p>
									</div>
								</div>
							</div>
						</div>

						<div class="comment-template">
							<h4>Leave a comment</h4>
							<p>If you have comment don't feel hesitate to send us your opinion.</p>
							<form action="#">
								<p>
									<input type="text" placeholder="Name">
									<input type="email" placeholder="Email">
								</p>
								<p><textarea name="comment" id="comment" cols="30" rows="10" placeholder="Message"></textarea></p>
								<p><input type="submit" value="Submit"></p>
							</form>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="sidebar-section">
						<div class="recent-posts">
							<h4>Recent Posts</h4>
							<ul>
								<li><a href="/grapes_news">Riped grapes hang in lush clusters on branches.</a></li>
								<li><a href="/fruits_table_news">Spread of fresh fruits on elegant table plates.</a></li>
								<li><a href="/fruits_plate_news">Fall in love with the fresh fruits plate.</a></li>
								<li><a href="/fruits_bucket_news">Why the fruits bucket looks delicious.</a></li>
								<li><a href="/celeb_straw_news">Strawberries celebrating the season’s juiciest harvest.</a></li>
							</ul>
						</div>
						<div class="archive-posts">
							<h4>Archive Posts</h4>
							<ul>
								<li><a href="/grapes_news">June 2025 (5)</a></li>
								<li><a href="/fruits_table_news">April 2025 (3)</a></li>
								<li><a href="/fruits_plate_news">September 2025 (4)</a></li>
								<li><a href="/fruits_bucket_news">November 2025 (4)</a></li>
								<li><a href="/celeb_straw_news">March 2025 (3)</a></li>
							</ul>
						</div>
						<div class="tag-section">
							<h4>Tags</h4>
							<ul>
								<li><a href="/shop">Apple</a></li>
								<li><a href="/shop">Grapes</a></li>
								<li><a href="/shop">Lemon</a></li>
								<li><a href="/shop">Strawberry</a></li>
								<li><a href="/shop">Raspberry</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end single article section -->

	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="/static/assets/img/company-logos/1.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="/static/assets/img/company-logos/2.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="/static/assets/img/company-logos/3.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="/static/assets/img/company-logos/4.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="/static/assets/img/company-logos/5.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->
{% endblock %}